@use "../settings/" as *;

.navbar {

    --_bg-color-navbar: var(--bg-color-navbar, #{$color-neutral-000});
    --_bg-color-sub-navbar: var(--bg-color-sub-navbar,#{$color-neutral-100});
    --_color-link: var(--color-link, #{$color-neutral-950});
    --_color-link-sub-navbar: var(--color-link-sub-navbar, #{$color-neutral-950});
    --_color-link-hover: var(--color-link-hover, #{$color-neutral-000});
    --_bg-color-link: var(--bg-color-link, transparent);
    --_bg-color-link-hover: var(--bg-color-link-hover, #{$color-green-500});


    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    transition: transform 250ms;
    transform: translateX(100%);
    padding: 5px 10px;
    background-color: var(--_bg-color-navbar);
    overflow-y: auto;

    &[aria-expanded="true"] {
        transform: translateX(0);
    }

    @include media-Query(desktop) {
        --bg-color-navbar : transparent;
        position: static;
        width: auto;
        height: auto;
        transition: none;
        transform: translateX(0);
        padding: 0;
        overflow: visible;
    }

    &__list {
        display: flex;
        flex-direction: column;

        @include media-Query(desktop) {
            flex-direction: row;
            align-items: center;
            height: 100%;
            gap: 15px;
        }
    }

    &__item{
         position: relative;
         
         
         
    }

    &__link {
        display: block;
        padding-block: .8rem;
        padding-left: .5rem;
        box-shadow: none;
        
        border-radius: .15rem;
        color: var(--_color-link);

        @include media-Query(desktop) {
            padding: .5em 1em;
        }

        &:is(:hover, :focus) {
            background-color: var(--_bg-color-link-hover);
            color: var(--_color-link-hover);
        }

        &.active{
            background-color: var(--_bg-color-link-hover);
            color: var(--_color-link-hover);
        }

        

        &--action{
            align-items: center;
            gap: 1rem;

           
        }

        &--sub-navbar {
           
            width: 100%;
            color: var(--_color-link-sub-navbar);
            padding: .8rem;
            border-radius: 0;

            
        }

    }

    &__sub-navbar {
        overflow: hidden;
        background-color: var(--_bg-color-sub-navbar);
        flex-direction: column;

        
        @include media-Query(desktop) {
            position: absolute;
            overflow: visible;
            top: 100%;
            width: 100%;
            height: auto;
            display: none;
            
            gap: 0;
            border-radius: .15rem;

            &.active {
                display: flex;
            }
    

            &:hover{
                display: flex;
            }
           
        }

        &-wrapper {
            display: grid;
            grid-template-rows: 0fr;
            transition: grid-template-rows 0.5s;

            &[aria-expanded] {
                grid-template-rows: 1fr;
            }

            
        }

    }

    &__icon{


        pointer-events: none;
        transform: rotate(-180deg);
        transition: transform .3s;
        color: var(--_color-link);

        &[data-rotate]{
            transform: rotate(0deg);
        }

        &-wrapper{
            padding-block: .4rem;
            cursor: pointer;
            pointer-events: none;
        }

        
    }

    &__group-link{
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        // background-color: crimson;

        &:is(:hover, :focus) {
            background-color: var(--_bg-color-link-hover);
            color: var(--_color-link-hover);
        }



    }

    &--theme-first {
        

        @include media-Query(desktop) {
            --color-link:#{$color-neutral-000};
        }


    }
    &--theme-second {
        

        @include media-Query(desktop) {
            --color-link:#{$color-neutral-950};
        }


    }
}