
$light : (
    "neutral": (
        "000" : #fff,
        "200" : #dcdcdc,
        "800" : #4a4a4a,
        "950" : #000,
    ),

    "primary":(
        "100" : #edfef4,
        "500" : #1fbc61,
        "700" : #148143,
    ),
    "secondary":(
        "300" : #ffdc30,
        "500" : #eab108,
    ),
    "contrast":(
        "1" : #181b2e,
    )
);

// global colors tokens

$color-neutral-000 : var(--neutral-000);
$color-neutral-200 : var(--neutral-200);
$color-neutral-800 : var(--neutral-800);
$color-neutral-950 : var(--neutral-950);
$color-green-100 : var(--primary-100);
$color-green-500 : var(--primary-500);
$color-green-700 : var(--primary-700);
$color-yellow-300 : var(--secondary-300);
$color-yellow-500 : var(--secondary-500);
$color-blue-900 : var(--contrast-1);


$theme : $light;