@use "../settings/index.scss" as *;


@for $i from 2 through 16{
    $value: $i * $base-size;
    .margin{
        &-b-#{$i}{
            margin-block:$value;
        }
       &-b-s\:#{$i}{
            margin-block-start: $value;
        }
        &-b-e-#{$i}{
            margin-block-end: $value;
        }
        &-i-#{$i}{
            margin-inline: $value;
        }
        &-i-s-#{$i}{
            margin-inline-start: $value;
        }
        &-i-e-#{$i}{
            margin-inline-end: $value;
        }
    }
}

@each $sizes, $valueSizes in $sizes{
    .margin{
        &-block-#{$sizes}{
            margin-block: $valueSizes;
        }
        &-block-start-#{$sizes}{
            margin-block-start: $valueSizes;
        }
        &-block-end-#{$sizes}{
            margin-block-end: $valueSizes;
        }
        &-inline-#{$sizes}{
            margin-inline: $valueSizes;
        }
        &-inline-start-#{$sizes}{
            margin-inline-start: $valueSizes;
        }
        &-inline-end-#{$sizes}{
            margin-inline-end: $valueSizes;
        }
    }

}



.padding-section{
    padding-block: $padding-section;
}
.mx-auto{
    margin-inline: auto;
}