@use "../settings/index.scss" as *;


@for $i from 2 through 16{
    $value: $i * $base-size;
    .margin{
        &-b-#{$i}{
            margin-block:$value;
        }
       &-b-s\:#{$i}{
            margin-block-start: $value;
        }
        &-b-e-#{$i}{
            margin-block-end: $value;
        }
        &-i-#{$i}{
            margin-inline: $value;
        }
        &-i-s-#{$i}{
            margin-inline-start: $value;
        }
        &-i-e-#{$i}{
            margin-inline-end: $value;
        }
    }
    .padding{
        &-#{$i}{
            padding: $value;
        }
        &-b-#{$i}{
            padding-block:$value;
        }
       &-b-s\:#{$i}{
            padding-block-start: $value;
        }
        &-b-e-#{$i}{
            padding-block-end: $value;
        }
        &-i-#{$i}{
            padding-inline: $value;
        }
        &-i-s-#{$i}{
            padding-inline-start: $value;
        }
        &-i-e-#{$i}{
            padding-inline-end: $value;
        }
    }
}





.padding-section{
    padding-block: $padding-section;
}

.padding-section-bottom{
    padding-block-end: $padding-section;
}

.mx-auto{
    margin-inline: auto;
}