.button{
    padding: .75em 1.6em;
    border-radius: 100vh;
    font-weight: 500;
    transition: background-color .4s, color .4s;
    cursor: pointer;
    

    &--primary{
        background-color: var(--green-800);
        color: var(--yellow-green-300);

        &:hover{
            background-color: var(--yellow-green-300);
        color: var(--green-800);
        }
    }

    &--accent{
        background-color: var(--yellow-green-300);
        color: var(--green-800);
    }

    &--oneline{
        outline: .14em solid var(--green-800);
        color: var(--green-800);
        font-weight: 600;

        &:hover{
            background-color: var(--green-800);
            color: var(--white-000);
        }
    }

    &--navigation{
        
        padding: .5em 1.2em;
        font-weight: 400;

        
    }

    &--loading {
      
        color: var(--white-000);
        background: linear-gradient(90deg, var(--green-600) 0%, var(--green-800) 50%, var(--green-600) 100%);
        background-size: 200% 100%;
        animation: loadingBackground 1.5s ease-in-out infinite;
     }

  

    &--center{
        display: block;
        margin-inline: auto;
        text-align: center;
        width: max-content;
    }


    @keyframes loadingBackground {
        0% {
           background-position: 200% 0;
        }
        100% {
           background-position: -200% 0;
        }
     }

}