.counter-carrito {
    // padding: 0.5em 1.5em;
    

    &[data-carrito] {
      position: relative;
      padding: 0;

      > span {
        position: absolute;
        background-color: var(--green-600);
        color: white;
        width: 20px;
        font-size: var(--small-2);
        font-weight: 600;
        aspect-ratio: 1;
        top: -4px;
        right: -6px;
        border-radius: 50%;
        display: grid;
        place-items: center;
      }
    }
  }