---
import Navbar from "@/sections/Navbar.astro";
import MainLayout from "@/layout/MainLayout.astro";
import FormContact from "@/sections/Form-Contact.astro";



---


<MainLayout
  title="Contacto - Balanzas del oriente"
  description="Contactanos para más información">
  
  <Navbar slot="Navbar" position="sticky" />
  <FormContact />

   <section class="section-page" id="ubicacion">
      <div class="wrapper section-page-flow">
         <h1 class="fs-super-title-2 font-bebas-neue">Ubicanos</h1>
         <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1017834.3238204941!2d-74.65838404959834!3d-4.784553488664259!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91c048c3e2ba524f%3A0x8b6a0d1dce7d9ad2!2sLoreto!5e0!3m2!1ses-419!2spe!4v1730085981384!5m2!1ses-419!2spe"
            style="border:0; width: 100%; min-height: 450px;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
         </iframe>
      </div>
   </section>

</MainLayout>