---
import type { HTMLAttributes } from "astro/types";

type VARIANT = "primary" | "secondary" | "contrast";

interface Props extends HTMLAttributes<"a"> {
    classUtilities?: string;
    classBlock?: string;
    variant?: VARIANT;
}

const { classBlock, classUtilities, href, variant, ...attrs } = Astro.props;
---

<a
    {href}
    class:list={[classBlock, "btn", classUtilities]}
    {...{ "data-type": variant }}
    {...attrs}
>
    <slot />
</a>

<style lang="scss">

    @use "../scss/components/" as *;

   
</style>
