---
import {  getImage , inferRemoteSize} from "astro:assets";
const {width, height} = await inferRemoteSize("https://larevista.aqpsoluciones.com/wp-content/uploads/2020/12/BAALNZA-DIGITAL-GRAMERA.jpg");


import heroImg from "@/assets/cta-background.png";

const HeroImgC = await getImage({
  src: heroImg,
  format: "webp",
  width: 400,
  quality: 60,
});


---

<section class="section-page container bg-color-green-800" style={`background-image: url(${HeroImgC.src});`} >
  <div class="wrapper container__group">
    <div class="container__content">
      <h2 class="fs-title-1 color-white-000" style="line-height: 1.1; max-width: 22ch;">
        Tenemos 25 años de experiencia <span class="color-yellow-green-300">en Balanzas</span>
      </h2>
      <p class="color-white-200">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, nemo.
        Omnis velit quisquam adipisci exercitationem?
      </p>
      <a class="button button--accent" style="width: fit-content;" href="#"
        >Ver Productos</a
      >
    </div>
    <img style=`aspect-ratio: ${width} / ${height}`  src="https://larevista.aqpsoluciones.com/wp-content/uploads/2020/12/BAALNZA-DIGITAL-GRAMERA.jpg" alt="A cool image" class="container__img" />
   
   
  </div>
</section>

<style lang="scss">
  .container {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    &__group {
      display: grid;
      gap: 2.5rem;

      @media (width >= 768px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
    }

    &__img{
        
        // aspect-ratio: 1;
        min-height: 100%;
        border-radius: 1rem;
        @media (width >= 768px) {
            order: -1;
        }
    }
  }
</style>
