---
import { Image, getImage } from "astro:assets";

import type { GetImageResult } from "astro";


interface Props {
  image: ImageMetadata;
  backgroundImage: GetImageResult;
}





const {image : heroBalanza, backgroundImage} = Astro.props;
---

<section
  class="hero bg-color-green-800 color-white-000"
  style={`background-image: url(${backgroundImage.src});`}>
  <div class="wrapper hero__container">
    <div class="hero__content">
      <h1 class="fs-super-title-2" style="line-height: 1;">
        Balanzas del <span class="color-yellow-green-300">Oriente</span>
      </h1>
      <p class="color-white-200">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, nemo.
        Omnis velit quisquam adipisci exercitationem?
      </p>
      <a class="button button--accent" style="width: fit-content;" href="#"
        >Ver Productos</a
      >
    </div>
    <Image
      class="hero__img balanza-hero"
      src={heroBalanza}
      alt="balanza"
      width={heroBalanza.width / 2}
      height={heroBalanza.height / 2}
    />
  </div>
</section>

<style lang="scss">
  .hero {
    background-size: 140% 65%;
    background-position: center;
    background-repeat: no-repeat;

    @media (width >= 768px) {
      background-size: cover;
      }

    &__container {
      min-height: 100svh;
      display: grid;
      justify-items: center;
      align-items: center;
      padding-block: 6rem;
      gap: 4rem 1.5rem;

      @media (width >= 768px) {
        padding-block: 0;
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }

    &__content {
      // background-color: steelblue;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      align-items: center;
      text-align: center;

      @media (width >= 768px) {
        text-align: start;
        align-items: start;
      }
    }

    &__img {
      width: 70%;
      aspect-ratio: 1;
      //   background-color: gray;
    }
  }
</style>
