---
import SliderItem from "@/components/Slider/Slider-Item.astro";
import SliderList from "@/components/Slider/Slider-List.astro";
import Slider from "@/components/Slider/Slider.astro";
import sliderData from "../data/SliderImg2";
import SliderDot from "@/components/Slider/Slider-Dot.astro";
import SliderNavigation from "@/components/Slider/Slider-Navigation.astro";
import { Icon } from "astro-icon/components";
import Button from "@/components/Button.astro";
import LayoutWrapper from "@/components/LayoutWrapper.astro";
---

<Slider classBlock="hero-slider">
    <SliderList autoplay>
        {
            sliderData.map(({ img, alt }, index) => (
                <SliderItem 
                    {...(index === 0 && {'active': true})}
                    data-moveTransition={`-${(index + 1) * 100}%`}
                >
                    {
                        img.map((imagen) => (
                            <img src={`/img/${imagen}`} {alt} style="height: 100%;" />
                        ))
                    }
                </SliderItem>
            ))
        }
    </SliderList>
    <div class="overlay-slider" style="position: absolute; inset: 0;">

    </div>
    <LayoutWrapper classBlock="hero-slider__group color-neutral-000">
            <h1 class="superTitle">Nuestros Productos</h1>
            <p>Nuestros productos se ajustan a las necesidades de pequeñas y grandes industrias, corporaciones, laboratorios y mucho más.</p>
            <Button href={`https://api.whatsapp.com/send?phone=51946644615&text=Hola%2C%20me%20brinda%20mas%20informaci%C3%B3n.`} 
            target="_blank">Contactanos</Button>
    </LayoutWrapper>
   
    <SliderNavigation>
        {
            sliderData.map((_, index) => (
                    <SliderDot
                        {...(index === 0 && {'active': true})}
                        data-moveTransition={`-${(index + 1) * 100}%`}
                    ></SliderDot>
                ))
        }
    </SliderNavigation>
    
</Slider>


<style lang="scss">
    .hero-slider{
        

        &__group{
            position: absolute;
            
            inset: 0;
            display: grid;
            align-content: center;
            justify-items: center;
            text-align: center;
            z-index: 20;
            gap: 1rem;

            > p {
                width: min(90% , 80ch);
            }
        }
       
    }
</style>