---
import type { Data } from "@/interface/products";
import CardProduct from "@/components/CardProduct.astro";
interface Props extends Data {}

const { allProductos } = Astro.props;
---

<section class="section-page bg-color-primary-100">
  <div
    style="container-type: inline-size;"
    class="wrapper section-page-flow">
    <h2 class="title-section loading-top" >Mira los Productos que tenemos para ti!</h2>

    <div class="container">
      {allProductos.nodes.slice(0,4).flatMap((node) => <CardProduct {...node} />)}
    </div>
    <a class="button button--oneline button--center" href={'/productos/'} >Ver todos los productos</a>
  </div>
</section>

<style lang="scss">
  @use "../scss/settings/" as *;

  .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: clamp(0.5rem, 0.6531vw + 0.3469rem, 1rem);
    // border: 0.1rem solid rgb(237, 237, 237);

    @container (width >= 768px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @container (width >= 1024px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
</style>
